@model UserChangePasswordViewModel

<h1> Change Password </h1>

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
   Enter Your Current Password:
   <input asp-for="CurrentPassword" required />
   <br />
   Enter Your New Password:
   <input asp-for="NewPassword" required />
   <br />
   Verify Your New Passsword:
   <input asp-for="VerifyNewPassword" required />
   <br />
   <input type="submit" value="Change Password" />
</form>
