@model User

<h1> User Details </h1>
<link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
<form>
    First Name:
    <input asp-for="Firstname" />
    <br />
    Last Name:
    <input asp-for="Lastname" />
    <br />
    Email:
    <input asp-for="Email" />
    <br />
    Password:
    <input asp-for="Password" />
    <br />

    <a asp-controller="User" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-warning"> Edit User </a>
    <a asp-controller="User" asp-action="Index" class="btn btn-sm btn-success"> Back </a>
</form>
