@model UserRegistrationViewModel

<h1> Register New User </h1>

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
    First Name:
    <input asp-for="Firstname"  required />
    <br />
    Last Name:
    <input asp-for="Lastname"  required />
    <br />
    Email Address:
    <input asp-for="Email" type="email" required />
    <br />
    Password:
    <input asp-for="Password" type="password" required />
    <br />
    Verification Passsword:
    <input asp-for="VerificationPassword" type="password" required />
    <br />
    <input type="submit" value="Register" />
</form>
