@model Location


<fieldset class="border d-inline-block p-3 shadow">
    <h1> Edit Location </h1>
    <form method="post">
        <table>
            @if (ViewData.ModelState.ErrorCount > 0)
            {
                <thead>
                    <tr>
                        <td colspan="2">
                            <div asp-validation-summary="All" class="text-danger"> </div>
                        </td>
                    </tr>

                    <tr> <td class="pl-2 pr-2" colspan="2"> <hr /> </td> </tr>
                </thead>
            }
            <tbody>
                <tr>
                    <th class="pr-1 text-right"> Year: </th>
                    <td class="pl-1"> <input asp-for="City" class="rounded" min="1886" required /> </td>
                </tr>

                <tr>
                    <th class="pr-1 text-right"> Make: </th>
                    <td class="pl-1"> <input asp-for="State" class="rounded" required /> </td>
                </tr>

                <tr>
                    <th class="pr-1 text-right"> Model: </th>
                    <td class="pl-1"> <input asp-for="LandOwner" class="rounded" required /> </td>
                </tr>
            </tbody>
            <tfoot>
                <tr> <td class="pl-2 pr-2" colspan="2"> <hr /> </td> </tr>
                <tr>
                    <td class="text-center" colspan="2">
                        <input class="btn btn-sm btn-outline-warning mr-1" type="submit" value="Update" />
                        <a asp-controller="Location" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-primary ml-1"> Cancel </a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
</fieldset>