
<div class="text-center">
    <h1 class="display-4">Welcome to the Game Tracker</h1>
    <div>
        <img src="https://bloximages.newyork1.vip.townnews.com/columbiamissourian.com/content/tncms/assets/v3/editorial/5/2a/52af0c08-3a68-11e6-8c86-576d0fd9ada7/576ee6e9b429f.image.jpg" />
    </div>
</div>
